{% extends "template.html" %}

{% block content %}
    <h1>Lucas's Music Reviews</h1>
    <p class = "desc">USE THIS APP TO KEEP TRACK OF YOUR FAVORITE SONGS!</p>
    <p class = "desc">BE THE MUSIC CRITIC YOU WERE MEANT TO BE!</p>

    <div class = "layout">
        <div class = "bio">
            <h2>About this App</h2>
            <p>Hi! My name is Lucas Sullivan. I am currently a 23 year old Software Development student (as of April, 2026).
                I have a lot of passions in life, but music may be one of the most important to me. Music was always super prevelant
                in my household growing up, so naturally it is a big part of my life. This app is designed for anybody to keep track 
                of their favorite songs and write little reviews. This app is great for people who love music and want to share their thoughts!
                give it a try!</p>
        </div>

     <div class="requestBoard">
            <h2>TO-LISTEN-TO LATER!</h2>
            <div class="requestDisplay">
                {% for note in notes %}
                    <p class="requestItem">> {{ note }}</p> 
                {% endfor %}
            </div>

            <form action="/add_note" method="post">
                <div class="inputGroup">
                    <input type="text" name="noteText" placeholder="Listen to this later!" required>
                </div>
                <button type="submit" class="buttons smallButton">Listen Later!</button>
            </form>
        </div>
    </div> 
    
    <div class="buttonContainer">
        <a href="/items" class="buttons">VIEW ALL</a>
        <a href="/add" class="buttons">ADD NEW</a>
        <a href="/remove" class="buttons">REMOVE</a>
        <a href="/fun" class="buttons funButton">FUN</a>
    </div>
{% endblock %}
